*{
    margin: 0;
    padding: 0;

}

html {
    font-size: 62.5%;
}


body {
    background-image: url("../images/background.png");
  
}

.body1 {
    width: 28rem; 
    color: rgb(19, 59, 6); 
    background: rgba(235, 223, 198, 0.975);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 2rem;
    /* margin: 1rem auto 1rem 1rem; */
}

.row-size {

    width: 28%;
    margin: 1rem auto 1rem 1rem;


}
.image-thumbnail {
    height: 5rem;
    padding: 1 rem;
}

.score1 {

    width: 18rem; 
    height: 2rem; 
    margin-bottom: 1rem; 
    color: white; 
    background: rgba(59, 141, 122, 0.975);
}

.totalscore1 {
    width: 18rem; 
    height: 8rem; 
    margin-bottom: 1rem; 
    color: white; 
    background: rgba(59, 141, 122, 0.975);
}

.crystal1 {

    width: 18rem; 
    height: 5rem; 
    margin-bottom: 1rem; 
    color: white; 
    background: rgba(196, 90, 24, 0.975);

}

.crystalscollectortitle {
    background: brown;
    color: white;
    font-size: 50px; 
    float: left;
    width: 90px;
}

.col-size1 {
    margin: 0;
padding: 0; 
width: 10rem;
}

.col-size2 {
    margin: 0;
    padding: 0;
    float: left;
}
.box1 {
    width: 18rem; 
    height: 8rem; 
    /* margin-bottom: 1rem;   */
    color: rgb(5, 77, 43); 
    background: rgb(93, 177, 138);
}
.box2 {
    width: 10rem; 
    height: 8rem; 
    /* margin-bottom: 1rem;  */
    color: rgb(5, 77, 43); 
    background: rgb(8, 234, 238);
}